
/**
 * Radius skin built based on default (from module)
 */

.jcarousel-skin-Grunge {
  text-align: center;
}

.jcarousel-skin-Grunge .jcarousel-container-horizontal {
  width: 500px;
  height: 281px;
  padding: 0px;
  margin: 0px;
}

body.front .jcarousel-skin-Grunge .jcarousel-container-horizontal {

}
.jcarousel-skin-Grunge .jcarousel-container {
  width: 957px;
  height: 320px;
  float: left;
  margin-top: 0px;
  margin-left : 20px;
  position: relative;
  cursor : pointer;
  /*
  background-image : url(showcasebase.png);

  background-image : url(polaroid-cool-960.png);
  background-repeat : no-repeat;
  */  z-index : 0;
}
.jcarousel-clip {
  margin-top : 14px;
  margin-left : 10px;
  overflow : hidden;
  height: 320px;
}
.jcarousel-skin-Grunge .jcarousel-clip-horizontal {
  width: 940px;
}

body.front .jcarousel-skin-Grunge .jcarousel-clip-horizontal {
  width: 940px;
}

.jcarousel-navigation:after {
  content : " ";
  background-image : url(polaroid-cool-960.png);
  background-repeat : no-repeat;
  position : absolute;
  top : 0px;
  left : -20px;
  z-index : 1;
  width: 960px;
  height: 340px;
}

.jcarousel-skin-Grunge .jcarousel-item {
  padding: 0;
  height: 290px;
  overflow: hidden;
  list-style: none;
  position : relative;
  z-index : 0;
  padding-top : 0px;
  padding-right : 20px;
}

.jcarousel-skin-Grunge .jcarousel-item .views-field {
  position : relative;
  text-align : right;
  color : white;
  z-index : 1;
}


.jcarousel-skin-Grunge .jcarousel-item .views-field a {
  color : white;
}
.jcarousel-skin-Grunge .jcarousel-item .views-field-title {
  color: #FF9A05;
  display: block;
  font-family: georgia,garamond,serif;
  font-size: 35px;
  line-height: 115%;
  margin-top: 80px;
  width : 480px;
  margin-left : 400px;
  z-index : 104;
}
.jcarousel-skin-Grunge .jcarousel-item .views-field-body {
  width : 470px;
  margin-left : 430px;
  font-size: 14px;
  color: white;
}
.jcarousel-skin-Grunge .jcarousel-item .views-field-title a {
  color : #FF9A05;
}

.jcarousel-skin-Grunge .jcarousel-item .views-field-field-slide-background {
  position : absolute;
  top : 0;
  width : 100%;
  z-index : 0;
}
body.front .jcarousel-skin-Grunge .jcarousel-item {
  width: 940px;
}

.jcarousel-skin-Grunge .jcarousel-item-horizontal {
  margin:0 0 0 0px;
}

.jcarousel-skin-Grunge .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-Grunge .jcarousel-next,
.jcarousel-skin-Grunge .jcarousel-prev {
	background: url(arrow.png) no-repeat 0 0 scroll transparent;
	display: block;
	width: 38px;
	height: 38px;
	margin : -19px 10px 0 10px;
	background-image: url(buttons.png);
	background-position : -38px 0px;
	background-repeat : no-repeat;
  cursor: pointer;
  position: absolute;
  z-index : 3;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-Grunge .jcarousel-prev-horizontal {
  top: 50%;
  left: 0px;
	background-position : 0 0px;
}

.jcarousel-skin-Grunge .jcarousel-prev-horizontal:hover {
	background-position : 0 0px;
}
.jcarousel-skin-Grunge .jcarousel-prev-horizontal:active {
	background-position : 0 0px;
}
.jcarousel-skin-Grunge .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-Grunge .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-Grunge .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
	background-position : 0 0px;
}

.jcarousel-skin-Grunge .jcarousel-next-horizontal {
  position: absolute;
  top: 50%;
  right : 0px;
	background-position : -38px 0px;
}
.jcarousel-skin-Grunge .jcarousel-next-horizontal:hover {
	background-position : -38px 0px;
}
.jcarousel-skin-Grunge .jcarousel-next-horizontal:active {
	background-position : -38px 0px;
}
.jcarousel-skin-Grunge .jcarousel-next-disabled-horizontal,
.jcarousel-skin-Grunge .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-Grunge .jcarousel-next-disabled-horizontal:active {
  cursor: default;
	background-position : -38px 0px;
}
.jcarousel-skin-Grunge ul.jcarousel-navigation {
  position : absolute;
  top : 0;
  z-index : 2;
  width : 100%;
  text-align : center;
}
.jcarousel-skin-Grunge ul.jcarousel-navigation li {
  float : left;
  width : 20px;
  height : 20px;
}